a  {
    color: #8ff;
}

body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.element {
    width: 120px;
    height: 160px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
}

.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}

    .element .age {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.75);
    }

    .element .country {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.75);
    }

    .element .symbol {
        position: absolute;
        top: 25px;
        left: 0px;
        right: 0px;
        font-size: 60px;
        font-weight: bold;
        color: rgba(255,255,255,0.75);
        text-shadow: 0 0 10px rgba(0,255,255,0.95);
    }

    .element .interest {
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.75);
    }

    .element .name {
        position: absolute;
        bottom: 20px;
        left: 0px;
        right: 0px;
        font-size: 15px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.75);
    }

button {
    color: rgba(127,255,255,0.75);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,255,255,0.5);
}

button:active {
    color: #000000;
    background-color: rgba(0,255,255,0.75);
}

.glow-green {
    background-color: rgba(0, 127, 0, 0.25);
    box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.6);
    border: 1px solid rgba(0, 255, 0, 0.9);
}
.glow-yellow {
    background-color: rgba(127, 100, 0, 0.25);
    box-shadow: 0px 0px 20px rgba(255, 215, 0, 0.6);
    border: 1px solid rgba(255, 215, 0, 0.9);
}

.glow-red {
    background-color: rgba(127, 0, 0, 0.25);
    box-shadow: 0px 0px 20px rgba(239, 48, 34, 0.6);
    border: 1px solid rgba(255, 50, 50, 0.9);
}

#login-overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: white;
    z-index: 100;
    display: flex;       /* <--- CHANGE THIS BACK TO FLEX */
    justify-content: center;
    align-items: center;
}

.login-card {
    background: #ffffff;
    padding: 40px;
    border: 1px solid #222;
    text-align: center;
    color: #8ff;
    font-family: Arial, sans-serif;
}

.login-card h2 {
    margin-bottom: 20px;
    color: #000000;
}

.login-card p {
    margin-bottom: 30px;
    font-size: 14px;
    color: #000000;
}

.login-card button {
    font-size: 16px;
    padding: 10px 20px;
}

#auth-btn {
    color: rgb(255, 255, 255);
    background: #205aab;
    border-radius: 8px;
}

.small-google-icon {
    width:15px;
    height: 15px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 6px;
}